@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

/* Custom CSS */

/* Complete Todo */

.bouncing-animation {
  animation: bounce 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform-origin: center bottom;
  opacity: 0.7;
}

@keyframes bounce {
  0% {
    transform: scaleY(1);
  }
  30% {
    transform: scaleY(0.9);
  }
  50% {
    transform: scaleY(1.05);
  }
  70% {
    transform: scaleY(0.95);
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

/* Delete Todo */

.fade-out {
  animation: fadeOutAnimation 0.5s ease-in;
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
    display: none;
  }
}
